body {
  background-color: navajowhite;
  ;
}

hr {

  border-style: dotted ;
  width:
  5%; border-top-style: none;
  border-color: grey;
  border-width: 5px;
}

h1{ color: brown;}

h3{ color: brown;}
}


⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️⭐️
